h3 > button.dropdown-header-button {
  font-size: 1.5rem;
}

h3.accordion-header {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

button.dropdown-header-button {
  width: 100%;
  border: 4.5px solid white;
}

button.dropdown-header-button:hover {
  border: 4.5px solid #cc9900;
}

button.dropdown-header-button[aria-expanded="true"] {
  color: #0B1D84;
  background-color: white;
  border: 4.5px solid #0B1D84;
}

span.dropdown-header-text {
  display: inline-block;
  pointer-events: none;
}

button > i {
  pointer-events: none;
  font-size: 2rem !important;
  font-weight: 300 !important;
}

#accordion-panels {
  width: 98%
}

@media only screen and (min-width: 720px) {
  #accordion-panels {
    width: 66%
  }
}

@media only screen and (min-width: 1400px) {
  #accordion-panels {
    width: 50%
  }
}

.flex-panel {
  width: 100%;
}

.accordion-content {
  padding: 1rem;
  display: block;
}

.accordion-content[aria-hidden="true"] {
  display: none;
}
