body {
  font-family: "Oswald", Arial, sans-serif;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-col {
  display: flex;
  flex-flow: column wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.ap-page {
  width: 100%;
}

.ap-content-wrapper {
  max-width: 100%;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

#college-dept-wrapper-aux {
  display: none;
}

#college-dept-wrapper .key,
#college-dept-wrapper-aux .key {
  text-transform: uppercase;
  font-weight: 600;
}

@media only screen and (min-width:720px) and (max-width:1048px) {
  .ap-sidebar-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .ap-sidebar-degree-details-college-dept-shell {

  }
  #college-dept-wrapper {
    display: none;
  }
  #college-dept-wrapper-aux {
    display: block;
  }
}

@media only screen and (min-width:1048px) {
  .ap-sidebar-wrapper {
    width: 27.3%;
    max-width: 380px;
    margin: 0 1em;
  }
  .ap-content-wrapper {
    width: 72.6%;
    max-width: 700px;
  }
}

@media only screen and (min-width:1366px) {
  .ap-content-wrapper { max-width: 960px; }
}

.paragraph-useful-links {
  padding-top: 1em;
}

li.useful-link-item {
  min-width: 302px;
}

li.useful-link-item a {
  width: fit-content !important;
  font-size: 1.25rem !important;
  margin-right: 2em;
  font-weight: 450 !important;
}

li.useful-link-item a .fas {
  font-size: 1rem !important;
  width: 25px !important;
}

li.useful-link-item span {
  margin: 0 0.5em;
}

li.useful-link-item span.arrow {
  display: none;
}

@media only screen and (min-width: 1048px) {
  li.useful-link-item span.arrow {
    display: block;
  }
}

li.useful-link-cta {
  margin-left: 1em;
}

li.field-degree-details-item {
  min-height: fit-content !important;
  min-width: 280px;
  max-width: 300px;
}

li.field-degree-details-item {
  min-height: fit-content !important;
  min-width: 280px;
  max-width: 300px;
}

li.field-degree-details-item .field-certification {
  width: 50px;
}

li.field-degree-details-item .field-certification .acronym-term {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.field__label {
  font-weight: bold;
  margin-right: 0.5em;
}

@media only screen and (max-width: 767px) {
  .degree-details-item-cta-ribbon {
    margin-top: 0 !important;
  }
}
