body {
  font-family: Helvetica, Arial, sans-serif;
}

a,a:link,a:hover,a:visited,a:active {
  text-decoration: none;
  padding: 0.5em;
  font-size: 24px;
}

button {
  padding: 1rem;
  background-color: cornflowerblue;
  color: white;
  font-weight: 700;
  border: none;
  font-size: 1rem;
}

button.dropdown-header-button {
  width: 100%;
}

span.dropdown-header-text {
  display: inline-block;
  pointer-events: none;
}

button > i {
  pointer-events: none;
  font-size: 2rem !important;
}

p {
  padding: 0.5rem;
}

form {
  padding: 0.5rem;
}

label {
  display: inline-block;
}

input {
  display: inline-block;
}

.accordion-content {
  display: none;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-center {
  justify-content: center;
}

.flex-panel {
  width: 320px;
}

.flex-between {
  justify-content: space-between;
}

header > h1, header > h2 {
  text-align: center;
}

h1.jumbo {
  text-align: center;
  font-size: 56px;
}

h2.jumbo {
  text-align: center;
  font-size: 48px;
}

h3.jumbo {
  text-align: center;
  font-size: 40px;
}

h4.jumbo {
  text-align: center;
  font-size: 32px;
  margin: 0.5em;
}

h5.jumbo {
  text-align: center;
  font-size: 24px;
  margin: 0.5em;
}

p {
  font-size: 20px;
}


ul {
  margin: 1em 0;
  list-style: none;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  padding-inline-start: 0 !important;

}

li {
  font-size: 20px;
}

#alert-banner {
  background-color: red;
  color: white;
  padding: 2em;
}

.relshell {
  position: relative;
}

#relhead-shell {
  width: 350px;
}

#relhead {
  color: white;
  background-color:black;
  padding: 1em 0 1em 0;
  font-size: 16px;
  font-weight: 800;
  opacity: 0.5;
  position: absolute;
  z-index: 500;
  text-align: center;
  top: -12.5em;
  width: 100%;
}


#video-shell {
  padding: 2em;
}

#myvideo {
  z-index: 100;
  width: 350px;
}

@media only screen and (min-width:720px) {

  #relhead-shell {
    width: 700px;
  }

  #relhead {
    font-size: 24px;
    top: -15.66em;
  }

  #myvideo {
    width: 700px;
  }
}

@media only screen and (min-width:1220px) {

  #relhead-shell {
    width: 1170px;
  }

  #relhead {
    font-size: 32px;
    top: -18.66em;
    left: auto;
  }

  #myvideo {
    width: 1170px;
  }
}
