body {
  font-family: 'atkinson-hyperlegible';
}

.helvetica {
  font-family: Helvetica;
}

a,a:link,a:hover,a:visited,a:active {
  text-decoration: none;
  padding: 0.75rem;
  margin: 0.5rem 0.25rem;
}

a#skip-to-main {
  height: 0px;
  text-decoration: underline;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

a#skip-to-main:focus {
  height: auto;
}

button {
  padding: 1rem;
  background-color: #0B1D84;
  color: white;
  font-weight: 700;
  border: none;
  font-size: 1rem;
  cursor: pointer
}

p {
  padding: 0.5rem;
}

form {
  margin: 0.75rem 0.5rem 0.5rem 0.5rem;
}

label {
  display: inline-block;
  font-size: 1.2rem;
}

input {
  display: inline-block;
  font-size: 20px;
  border: 2.33px solid #0B1D84;
  margin: 0.33rem;
  padding: 0.33rem 0.4rem 0.25rem 0.4rem;;
  border-radius: 6.66px;
}

.form-field-row {
  margin: 0 0.25rem 0.75rem 0.25rem;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.flex-between {
  justify-content: space-between;
}

.flex-generic > section {
  width: 98%
}

@media only screen and (min-width: 720px) {
  .flex-generic > section {
    width: 75%
  }
}

@media only screen and (min-width: 1400px) {
  .flex-generic > section {
    width: 66%
  }
}


header > h1, header > h2 {
  text-align: center;
}

h1.jumbo {
  text-align: center;
  font-size: 56px;
}

h2.jumbo {
  text-align: center;
  font-size: 48px;
}

h3.jumbo {
  text-align: center;
  font-size: 40px;
}

h4.jumbo {
  text-align: center;
  font-size: 32px;
  margin: 0.5em;
}

h5.jumbo {
  text-align: center;
  font-size: 24px;
  margin: 0.5em;
}

.big-flex-panel {
  min-width: 320px;
  max-width: 49%;
  padding: 1rem;
  margin: 1rem;
}

p {
  font-size: 20px;
}

p.code {
  font-family: monospace;
  font-weight: 700;
  font-size: 16px;
}

.baskerville {
  font-family: "Baskerville";
}

.monospace {
  font-family: monospace;
}


ul {
  margin: 0.5rem 0;
  list-style: none;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  padding-inline-start: 0 !important;

}

li {
  margin: 0.5rem 0;
}

nav {
  margin: 1rem 0;
}

nav > ul > li {
  font-size: 1.25rem;
}

ul#breadcrumb-list {
  margin-left: 2rem;
}

ul#breadcrumb-list li {
  display: inline;
}

a.breadcrumb-link, span[aria-current="page"] {
  padding: 0.25rem;
  margin: 0;
}

span.breadcrumb-link-delimiter {
  margin: 0 0 0 0.33rem;
  pointer-events: none;
}

.relshell {
  position: relative;
}
