@media only screen and (min-width: 540px) {

  form.combobox-form {
    width: 480px
  }
}

.autocomplete-field,.autocomplete-list-fieldset {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
}

@media only screen and (min-width: 540px) {
  .autocomplete-field {
    justify-content: flex-end;
  }
}

form.combobox-form label,
form.combobox-form input {
  display: inline-block;
}

form.combobox-form label {
  padding-top: 0.75rem;
  padding-right: 0.5rem;
  width: 280px;
}

@media only screen and (min-width: 540px) {
  form.combobox-form label {
    width: auto;
  }
}


form.combobox-form input[type="text"] {
  width: 280px;
  border-radius: 0;
  margin-bottom: 0;
}

@media only screen and (min-width: 540px) {
  form.combobox-form input[type="text"] {
    width: 320px;
  }
}

.textbox-autocomplete {
  margin-bottom: 0;
}

.combobox-autocomplete {
  width: 100%;
}

.gridrow, .listoption {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 0.33rem;
  padding: 0.4rem;
  width: 280px;
  border-left: 2.33px solid #0B1D84;
  border-right: 2.33px solid #0B1D84;
  cursor: pointer;
}

@media only screen and (min-width: 540px) {
  .gridrow, .listoption {
    width: 320px;
  }
}

.gridrow-focus, .listoption-focus {
  background-color: #0B1D84;
  color: white;
  font-weight: bold;
}

.gridrow-last {
  border-bottom: 2.33px solid #0B1D84;
}

.gridrow-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media only screen and (min-width:540px) {
  .gridrow-wrapper {
    justify-content: flex-end;
  }
}

form.combobox-form input.textbox-autocomplete-list {
  width: 240px;
  margin-right: 0;
}

@media only screen and (min-width:540px) {
  form.combobox-form input.textbox-autocomplete-list {
    width: 280px;
  }
}

ul.combobox-autocomplete-list {
  //position: absolute;
  right: 0;
  //top: 2.5rem;
  width: auto;
}

ul.combobox-autocomplete-list li:last-child {
  border-bottom: 2.33px solid #0B1D84;
}

button.button-autocomplete-list {
  margin: 0.33rem;
  margin-bottom: 0;
  padding: 0.35rem;
  width: 40px;
  margin-left: 0;
}

button.button-autocomplete-list[aria-expanded="false"]::after {
  font-family: "FontAwesome";
  font-size: 23px;
  content: "\f150";
}

button.button-autocomplete-list[aria-expanded="true"]::after {
  font-family: "FontAwesome";
  font-size: 23px;
  content: "\f151";
}
