th.data-grid-cell {
  background-color: #0B1D84;
  color: white;
  font-weight: bold;
  border: 2.33px solid white;
  position: relative;
}

th.data-grid-cell-focus {
  color: #0B1D84;
  background-color: white;
  border: 2.33px solid #0B1D84;
}

th.data-grid-cell > span[role="button"] {
  cursor: pointer;
  padding: 1rem;
  display: inline-block;
  padding-right: 2.33rem;
}

td.data-grid-cell {
  padding: 1rem;
  border: 2.33px solid white;
}

td.data-grid-cell-focus {
  border: 2.33px solid cornflowerblue;
  font-weight: bold;
  background-color: gainsboro;
}

th.data-grid-cell::after {
  font-family: "FontAwesome";
  color: white;
  position: absolute;
  top: 1.165rem;
  right: 0.66rem;
}

th.data-grid-cell-focus::after {
  font-family: "FontAwesome";
  color: #0B1D84;
  position: absolute;
  top: 1.165rem;
  right: 0.2rem;
}

th.data-grid-cell[aria-sort="none"]::after {
  content: "\f152";
}

th.data-grid-cell[aria-sort="ascending"]::after {
  content: "\f151";
}

th.data-grid-cell[aria-sort="descending"]::after {
  content: "\f150";
}

th.data-grid-cell-focus[aria-sort="none"]::after {
  content: "\f152";
}

th.data-grid-cell-focus[aria-sort="ascending"]::after {
  content: "\f151";
}

th.data-grid-cell-focus[aria-sort="descending"]::after {
  content: "\f150";
}
