ul.menubar {

}

ul.menubar li {
  display: inline-block;
  margin: 0;
  position: relative;
}

span.top-level-menu-item {
  color: whitesmoke;
  font-size: 1.5rem;
  background-color: #0B1D84;
  padding: 0.66rem 1.33rem;
  border: 4.5px solid white;
  cursor: pointer;
}

span.top-level-menu-item[aria-expanded="true"] {
  background-color: whitesmoke;
  color: #0B1D84;
  border: 2.33px solid #0B1D84;
}

ul.secondary-menu {
  display: none;
  position: absolute;
  top: 2rem;
  padding: 1rem;
}

ul.secondary-menu li {
  display: block;
  padding: 0.25rem 0.5rem;
}
