button.close-modal {
  background-color: red;
  color: white;
  font-size: 32px;
  padding: 0 0.4rem;
  opacity: 0.6;
}

div.dialog-shell {
  position: relative;
}

div.dialog-overlay, div.dialog-backdrop {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
}

div.dialog-overlay {
  background: grey;
  opacity: 0.45;
}

div.dialog-overlay-hidden {
  display: none;
}

div.dialog-backdrop {
  background: transparent;
}

div.dialog-backdrop[aria-hidden="true"]{
  display: none;
}

div.dialog-box {
  background-color: white;
  position: absolute;
  top: 20%;
  padding: 1.5rem;
  opacity: 1 !important;
}

section.modal-content {
  padding: 1rem;
}

form.modal-form {
  width: 66%;
}
